<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwException="true" autoReload="true">
	<extensions>
		<add assembly="NLogExtensions" />
		<add assembly="NLog.AzureBlobStorage" />
	</extensions>
	<targets>
		<target name="DebugFile" xsi:type="File"
				layout="${longdate} ${logger} ${all-event-properties} ${message} ${exception:format=ToString}"
				fileName="${basedir}/logs/Debug_${shortdate}.txt"
				keepFileOpen="false"
				encoding="iso-8859-2" />
		<target name="TraceFile" xsi:type="File"
				layout="${longdate} ${logger} ${all-event-properties} ${message} ${exception:format=ToString}"
				fileName="${basedir}/logs/Trace_${shortdate}.txt"
				keepFileOpen="false"
				encoding="iso-8859-2" />
		<target name="ErrorFile" xsi:type="File"
				layout="${longdate} ${logger} ${all-event-properties} ${message} ${exception:format=ToString}"
				fileName="${basedir}/logs/Error_${shortdate}.txt"
				keepFileOpen="false"
				encoding="iso-8859-2" />
		<target xsi:type="AzureAppendBlob"
        name="Azure"
        layout="${longdate} ${level:uppercase=true} - ${message}"
        connectionString="DefaultEndpointsProtocol=https;AccountName=cooleriotqa;AccountKey=p2xOoL63nz71kXwA+Q9k/delX6o0MHsJ0kcd4v2h/6jvGEd3XPQrzqtX7D4czaD75GsrH9mI/z6KQLoDXE4LcQ==;EndpointSuffix=core.windows.net"
        container="applicationtrace"
        blobName="${date:format=yyyy-MM-dd}.log" />
		<target xsi:type="Mail" html="true" name="coolermail" addNewLines="true" subject="Cooler Copy/Dev Azure Error"
						from="noreply@cooleriot.com" replaceNewlineWithBrTagInHtml="true"
						body="${longdate} ${logger} ${message} ${exception:format=message,Data,stacktrace,ToString,Type,ShortType,Method:separator=*}" to="deepak.kumar@in.insigmainc.com;" cc="vijay.delvadiya@in.insigmainc.com;mahesh.tavethiya@in.insigmainc.com;shailendra.pal@in.insigmainc.com;arvind.gupta@in.insigmainc.com;" useSystemNetMailSettings="true" />
		<target
			 name="coolermail"
			 xsi:type="Mail"
			 smtpServer="smtp.sendgrid.net"
			 smtpPort="587"
			 smtpUserName="XXXXXX"
			 smtpPassword="XXXXXX"
			 smtpAuthentication="Basic"
			 subject="Cooler Production Scheduler Azure Error"
			 to="deepak.kumar@insigmainc.com"
			 cc="vijay.delvadiya@in.insigmainc.com;mahesh.tavethiya@in.insigmainc.com;shailendra.pal@in.insigmainc.com;arvind.gupta@in.insigmainc.com;puroo.jain@in.insigmainc.com;brijesh@in.insigmainc.com"
			 from="error@ebest-iot.com"
			 html="true"
			 body="${longdate} ${logger} ${message} ${exception:format=message,Data,stacktrace,ToString,Type,ShortType,Method:separator=*}"
			 replaceNewlineWithBrTagInHtml="true"
        />
	</targets>
	<rules>
		<!--<logger name="DataUpload" writeTo="elastic" maxLevel="Warn" final="true" />-->
		<logger name="MobileApi" writeTo="TraceFile" maxLevel="Warn" final="true" />
		<logger name="MobileApiV2" writeTo="TraceFile" maxLevel="Warn" final="true" />
		<logger name="iFSAData" writeTo="TraceFile" maxLevel="Warn" final="true" />
		<logger name="SESImage" writeTo="TraceFile" maxLevel="Warn" final="true" />
		<logger name="ProductionToolAPI"  writeTo="TraceFile" maxLevel="Warn" final="true" />
		<logger name="SyncData" writeTo="TraceFile" maxLevel="Warn" final="true" />
		<logger name="SmartDeviceTransaction" writeTo="TraceFile" maxLevel="Warn" final="true" />
		<logger name="ConsumerApi" writeTo="TraceFile" maxLevel="Warn" final="true" />
		<logger name="ConsumerApiV2" writeTo="TraceFile" maxLevel="Warn" final="true" />
		<logger name="PushEquipmentData_CCEP" writeTo="TraceFile" maxLevel="Warn" final="true" />
		<logger name="PushDataSmartRewardUser" writeTo="TraceFile" maxLevel="Warn" final="true" />
		<logger name="IRApi" writeTo="TraceFile" maxLevel="Warn" final="true" />
    <logger name="AssetPurity" writeTo="TraceFile" maxLevel="Warn" final="true" />
		<logger name="*" minLevel="Debug" maxLevel="Warn" writeTo="DebugFile" />
		<logger name="*" minLevel="Error" writeTo="ErrorFile" />
		<!-- <logger name="MobileApi" minLevel="Trace" writeTo="TraceFile" /> -->
		<!-- <logger name="MobileApiV2" minLevel="Trace" writeTo="TraceFile" /> -->
		<!-- <logger name="ConsumerApi" minLevel="Trace" writeTo="TraceFile" /> -->
		<!-- <logger name="ConsumerApiV2" minLevel="Trace" writeTo="TraceFile" /> -->
		<!-- <logger name="SyncData" minLevel="Trace" writeTo="TraceFile" /> -->
		<!-- <logger name="ProductionToolAPI" minLevel="Trace" writeTo="TraceFile" /> -->
		<!-- <logger name="iFSAData" minLevel="Trace" writeTo="TraceFile" /> -->
		<!-- <logger name="SESImage" minLevel="Trace" writeTo="TraceFile" /> -->
		<!-- <logger name="SmartDeviceTransaction" minLevel="Trace" writeTo="TraceFile" /> -->
		<logger name="*" minLevel="Error" writeTo="coolermail" />
	</rules>
</nlog>
